.wrapper .products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .product-item {
    width: 100%;
    img {
        width: 100%;
        height: 150px;
    }
    .product-desc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block: 10px;
    }
    button{
        border: none;
        outline: none;
        width: 100%;
        padding: 10px 20px;
        background-color: #2a5ea5;
        color: #fff;
        border-radius: 8px;
    }
  }
}
